Exercise2/TemperatureConverterWSJSPClient/src/conf/xml-resources/web-service-references/TemperatureConverterWS/wsdl/localhost_8080/TemperatureConverterWS/TemperatureConverterWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://temperatureconverter.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://temperatureconverter.me.org/">

<xs:element name="celsiusToFahrenheit" type="tns:celsiusToFahrenheit"/>

<xs:element name="celsiusToFahrenheitResponse" type="tns:celsiusToFahrenheitResponse"/>

<xs:element name="fahrenheitToCelsius" type="tns:fahrenheitToCelsius"/>

<xs:element name="fahrenheitToCelsiusResponse" type="tns:fahrenheitToCelsiusResponse"/>

<xs:complexType name="fahrenheitToCelsius">
<xs:sequence>
<xs:element name="tempInFahrenheit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fahrenheitToCelsiusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="celsiusToFahrenheit">
<xs:sequence>
<xs:element name="tempInCelsius" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="celsiusToFahrenheitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>